<div class="container">
  <div class="row" id="food">
  <br><br><br><br><br><br>
  <form>
    <div class="form-group">
    <label for="meal" style="color:white;">  <strong> Meal :  </strong> </label>
    <input type="text" placeholder="Your Meal">

    </div>
  </form>

<br><br><br>

  <form>
    <div class="form-group">
    <label for="Calories" style="color:white;">  <strong>Calories :</strong> </label>
    <input type="text" placeholder="Meal calories">

    </div>

  </form>

<br><br><br>

  <form>
    <div class="form-group">
    <label for="Details" style="color:white;"><strong> Details :</strong> </label>
    <input type="text" placeholder="Describe your meal">

    </div>
  </form>
  <br><br><br>
  <button class="btn btn-success">Save</button>
<br><br><br><br><br><br><br>
  </div>
</div>
