<!-- <li>{{meal-form}}</li> -->
<app-meal-form></app-meal-form>
<app-meal-edit></app-meal-edit>
<div class="container">

  <div class="row">
    <br><br><br><br>
    <h1 style="color:white;"> The Display</h1>
    <br><br><br>
    <div class="col-3">
      <p>Name of food</p>
    </div>
    <br><br><br>
    <div class="col-3">
      <p>Food details</p>
    </div>
    <br><br><br>
    <div class="col-3">
      <p>Calories</p>
    </div>
    <br><br><br>
    <div class="col-3">
      <p>Action</p>
    </div>
  </div>
  <br><br><br>
</div>
