/* You can add global styles to this file, and also import other style files */
body {
  background-color: white;
}

#food {
  background-image: url('src/assets/food4.jpg');
  background-position: center;
}
